@model  DCC_Parish_Capstone.Models.ViewModels.LanguageBestPracticeViewModel

@{
    ViewBag.Title = "Index";
}

<h1 class="mt-1 mb-3 text-center  font-weight-bold">View Articles: </h1>

<div class="row">
    <div class="col-1">
        <h4 class="mb-3">
            By @Html.DisplayNameFor(model => model.Languages):
        </h4>
    </div>
    <div class="col-10 offset-1 mx-auto mt-auto text-center">
        <h5 class="ml-0 mb-3">By Best Practice:</h5>
    </div>
</div>

 
<div id="lanBPTabs" class="container">

    <ul class="nav nav-tabs " id="myTab" role="tablist">
        @for (int i = 0; i < Model.Languages.Count(); i++)
        {
            //if logic first at 0 i
            if (i == 0)
            {
                <li class="nav-item">
                    <a href="#@Html.DisplayFor(m => m.Languages.ElementAt(i).Name)" class="nav-link active" data-toggle="tab"> @Html.DisplayFor(m => m.Languages.ElementAt(i).Name)  </a>
                </li>
            }
            else
            {
                <li class="nav-item">
                    <a href="#@Html.DisplayFor(m => m.Languages.ElementAt(i).Name)" class="nav-link " data-toggle="tab"> @Html.DisplayFor(m => m.Languages.ElementAt(i).Name)  </a>
                </li>
            }
        }
    </ul>

    <div class="tab-content ">
        @for (int k = 0; k < Model.Languages.Count(); k++)
        {
            if (k == 0)
            {
                <div class="tab-pane active" id="@Html.DisplayFor(m => m.Languages.ElementAt(k).Name)" role="tabpanel">

                    <div class="row">
                        @for (int j = 0; j < Model.BestPractices.Count(); j++)
                        {
                            <div class="col-md-4">
                                <div class="card text-white bg-primary mb-3">
                                    <div class="card-header">
                                        <div class="row">
                                            <div class="col-7">
                                                @Html.DisplayFor(m => m.BestPractices.ElementAt(j).Name)
                                            </div>

                                            <div class="col-5">
                                                <a href="@Url.Action("Create","Subscriptions", new { LanguageId = @Html.DisplayFor(m => m.Languages.ElementAt(k).Id),  BestPracticeId = @Html.DisplayFor(m => m.BestPractices.ElementAt(j).Id)})" id="Subscribe-@j" class="btn btn-outline-light float-right btn-sm"> Subscribe <i class="fas fa-plus-circle ml-1"></i> </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <a href="@Url.Action("ArticlesByLanguageandBestPractice", "Articles", new { LangId = @Html.DisplayFor(m => m.Languages.ElementAt(k).Id), BestPractId = @Html.DisplayFor(m => m.BestPractices.ElementAt(j).Id)  })" class="btn btn-outline-light float-right">View Articles &nbsp; <i class="fas fa-chevron-circle-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>

                </div>
            }
            else
            {
                <div class="tab-pane" id="@Html.DisplayFor(m => m.Languages.ElementAt(k).Name)" role="tabpanel">
                    <div class="row">
                        @for (int j = 0; j < Model.BestPractices.Count(); j++)
                        {
                            <div class="col-md-4">
                                <div class="card text-white bg-primary mb-3">
                                    <div class="card-header">
                                        <div class="row">
                                            <div class="col-7">
                                                @Html.DisplayFor(m => m.BestPractices.ElementAt(j).Name)
                                            </div>

                                            <div class="col-5">
                                                <a href="@Url.Action("Create","Subscriptions", new { LanguageId = @Html.DisplayFor(m => m.Languages.ElementAt(k).Id),  BestPracticeId = @Html.DisplayFor(m => m.BestPractices.ElementAt(j).Id)})" id="Subscribe-@j" class="btn btn-outline-light float-right btn-sm"> Subscribe <i class="fas fa-plus-circle ml-1"></i> </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body ">
                                        <a href="@Url.Action("ArticlesByLanguageandBestPractice", "Articles", new { LangId = @Html.DisplayFor(m => m.Languages.ElementAt(k).Id), BestPractId = @Html.DisplayFor(m => m.BestPractices.ElementAt(j).Id)  })" class="btn btn-outline-light float-right">View Articles &nbsp; <i class="fas fa-chevron-circle-right"></i></a>
                                    </div>
                                </div>
                            </div>







                        }
                    </div>

                </div>
            }
        }




    </div>


</div>


