@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

<ul class="nav navbar-nav navbar-right text-white">
   
    &nbsp; &nbsp;

    <li class="mt-1"> 
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle nav-link" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Web Developer </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <a class="dropdown-item"  href="@Url.Action("UserPortal", "Manage" , null)"> User Portal <span><i class="far fa-user-circle sp-v-align float-right"></i></span></a> 
                <a class="dropdown-item" href="#">Notifications <span><i class="fas fa-bell sp-v-align float-right"></i></span></a>
                <a class="dropdown-item" href="#">Badges <span><i class="far fa-id-badge sp-v-align float-right"></i></span></a>
            </div>
        </div>

    </li>

    <li>
        @Html.ActionLink("Hello " + User.Identity.GetUserName() + "! ", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = " nav-link" })
    </li>

    <li><a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">Log off  &nbsp; <i class="fas fa-sign-out-alt"></i></a></li>

</ul>
    }
}
else
{

    <ul class="nav navbar-nav navbar-right text-white">
        <li><a class="nav-link" id="registerLink" href="@Url.Action("Register", "Account")">Register &nbsp;<i class="fas fa-user-plus"></i></a></li>
        <li><a class="nav-link" id="loginLink" href="@Url.Action("Login", "Account")">Login &nbsp;<i class="fas fa-sign-in-alt"></i></a></li>
    </ul>
}